@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* 修改全局滚动条样式 */
    ::-webkit-scrollbar {
        width: 6px;
    }
    ::-webkit-scrollbar-thumb {
        transition: all 0.2s ease-in-out;
        border-radius: 10px;
        background-color: #0003;
    }
    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }
}
